<div class="jumbotron">
  <h1>Contrato de Compraventa</h1>
  <p class="lead">Fase: Inicialización</p>
  <p class="lead">El comprador debe proponer un notario para poder avanzar a la siguiente fase.</p>
  <hr class="my-4">
  
  <div id="join">
      <form #notaryForm="ngForm" (ngSubmit)="addNotary(notary.value); notaryForm.resetForm()" novalidate>
          <div class="form-group">
              <input class="form-control" name="notary" ngModel required #notary="ngModel"> 
          </div>
          <button class="btn btn-dark">Añadir</button>
        </form>
  </div>

  <div id="paymentSignal">
      <h1>Realizar el pago y señal</h1>
    <form #paySignalForm="ngForm" (ngSubmit)="paySignal(payment.value); paySignalForm.resetForm()" novalidate>
      <div class="form-group">
          <input class="form-control" name="paymentSignal" ngModel required #payment="ngModel"> 
      </div>
      <button class="btn btn-dark">Añadir</button>
    </form>
  </div>

  <div id="writting">
    <h1>Subir contrato</h1>
    <form #f="ngForm" (ngSubmit)="setContract(); f.resetForm()" novalidate>
      <div class="form-group">
          <label for="contract">Introducir Contrato</label>
          <input type="file" class="form-control-input" name="contract" (change)="handleFileInput($event.target.files)"> 
      </div>
      <button class="btn btn-dark">Añadir</button>
    </form>
  </div>

  <div id="validating">
      <h1>Validar contrato</h1>
      <form #f="ngForm" (ngSubmit)="validateContract(); f.resetForm()" novalidate>
        <div class="form-group">
            <label for="contract">Introducir Contrato</label>
            <input type="file" class="form-control-input" name="validation" (change)="handleFileInput($event.target.files)"> 
        </div>
        <button class="btn btn-dark">Añadir</button>
      </form>
    </div>

  <div id="payment">
      <h1>Realizar el pago y señal</h1>
    <form #f="ngForm" (ngSubmit)="pay(payment.value); f.resetForm()" novalidate>
      <div class="form-group">
          <input class="form-control" name="payment" ngModel required #payment="ngModel"> 
      </div>
      <button class="btn btn-dark">Añadir</button>
    </form>
  </div>

  <div id="signing">
      <h1>Firmar</h1>
      <button class="btn btn-dark" (click)="sign()">Firmar</button>
  </div>



</div>